{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="fixed-action-btn top">
            <a href="{% url 'post_new' %}" class="btn-floating btn-large">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endif %}

    <div class="container">
        {% for post in list_posts %}
              <div class="col s12 m7">
                <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class=" title">{{ post.title }}</h4>
                            <p>{{ post.text }}{{ post.published_date }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'post_detail' pk=post.pk %}" class="right">LER MAIS</a>
                        </div>
                    </div>
                </div>
            </div>

                <div class="divider"></div>
        {% endfor %}
    </div>
{% endblock %}