{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="fixed-action-btn top">
            <a href="{% url 'post_new' %}" class="btn-floating btn-large">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endif %}

    <div class="container">
        {% for post in list_posts %}
            <div class="card z-depth-2">
                <div class="container" style="padding-bottom: 0.5%">
                    <div class="post">
                        <h2>
                            <a href="{% url 'post_detail' pk=post.pk %}" class="truncate title">{{ post.title }}</a>
                        </h2>
                            <p class="truncate">{{ post.text }}
                            <div class="data_publicacao">
                                {{ post.published_date }}
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}