{% extends 'bases/base.html' %}

{% load static %}

{% block parallax %}
    <div id="banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container valign">
                <h1 class="header center grey-text text-darken-2">Materialize blog theme</h1>
                <div class="row center">
                    <h5 class="header col s12 light grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h5>
                </div>
                <div class="row center">
                    <a href="#start-post" class="btn-floating btn-large waves-effect waves-light grey darken-2 head-link"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'images/main.jpg' %}" alt="Banner de Fundo" style="background-image: url(&quot;{% static 'images/main.jpg' %}&quot;); bottom: 0px; display: block;">
        </div>
    </div> 
{% endblock %} 

{% block content %}
    <div class="container" id="start-post">
        {% if user.is_authenticated %}
            <div class="fixed-action-btn top">
                <a href="{% url 'post_new' %}" class="btn-floating btn-large">
                    <i class="large material-icons">add</i>
                </a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col s12 m10 offset-m1 l9 offset-l1">
                {% for post in list_posts %}
                    <div class="post-preview">
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <h4 class="post-title titleFont">
                            {{ post.title }}
                            </h4>
                        </a>
                            <h6 class="post-subtitle subTitleFont">
                                {{ post.subtitle }}
                                dssfasdds
                            </h6>
                    <p class="post-meta">{{ post.published_date }}<a href=""> | {{ post.author }}</a></p>
                    </div>
                    <div class="divider grey lighten-2"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}