{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha | Farm Manager
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <form class="row d-flex justify-content-center" method="POST">
            <div class="text-center pt-3">
                <h1 class="h4 text-gray-800">Sua senha foi redefinida. Você pode prosseguir e autenticar agora.</h1>
            </div>
            {% csrf_token %}
            <div class="col-12 col-sm-6">
                <div class="text-center">
                    <a href="{% url 'login' %}">Ir para tela principal</a>
                </div>
            </div>
        </form>        
    </div>
{% endblock %}