{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <form class="row d-flex justify-content-center" method="POST">
            <div class="text-center pt-3">
                <h1 class="h4 text-gray-800">Redefinição de senha</h1>
            </div>
            {% csrf_token %}
            <div class="col-12 col-sm-6">
                <hr>
                {{form|bootstrap}}

                <div class="d-flex justify-content-center pt-2">
                    <button class="btn btn-primary">
                        Recuperar Senha
                    </button>
                </div>

                <div class="text-center pt-3">
                     <a class="small" href="{% url 'signup' %}">Criar uma conta!</a><br />
                    <a class="small" href="/">Já está registrado no sistema? Login!</a>
                </div>
            </div>
        </form>        
    </div>               
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#id_email").attr("required", false);
            $("#btn_reset_password").attr("disabled", true);
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email_registered' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        $("#btn_reset_password").attr("disabled", true);
                        generate_toast('error', 'Falha na autenticação!', 'O e-mail inserido não está registrado no sistema!');
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}