{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Confirmação de Redefinição de Senha
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <form class="row d-flex justify-content-center" method="POST">
            <div class="text-center pt-3">
                <h1 class="h4 text-gray-800">Por favor, digite sua nova senha duas vezes para que possamos validá-la</h1>
            </div>
            {% csrf_token %}
            <div class="col-12 col-sm-6">
                <hr>
                {% csrf_token %}
                {{form|bootstrap}}

                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="check_reset_password_confirm">
                        <label class="custom-control-label" for="check_reset_password_confirm">Mostrar Senha</label>
                    </div>
                </div>
                <button class="btn bt-primary btn-block">
                    Redefinir
                </button>
            </div>
        </form>        
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#id_new_password1").addClass("form-control-user")
            $("#id_new_password2").addClass("form-control-user")

            $("id_new_password1").attr("required", false)
            $("id_new_password2").attr("required", false)
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_reset_password_confirm').click(function () {
            if($(this).is(':checked')){
                $("#id_new_password1").attr("type", "text");
                $("#id_new_password2").attr("type", "text");
            } 
            else {
                $("#id_new_password1").attr("type", "password");
                $("#id_new_password2").attr("type", "password");
            }
        })
    </script>
{% endblock %}