{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha Concluída
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <form class="row d-flex justify-content-center" method="POST">
            <div class="text-center pt-3">
                <h1 class="h4 text-gray-800">Redefinição de senha</h1>
            </div>
            {% csrf_token %}
            <div class="col-12 col-sm-6">
                <hr>
                <p class="py-3 text-justify">
                    Um e-mail foi enviado com instruções para redefinir a senha,
                    se fornecido com o e-mail correto, a mensagem chegará em breve, se você não tiver
                    não recebeu nenhuma mensagem, certifique-se de fornecer o endereço de e-mail em que você está
                    registrado. Verifique sua pasta de spam.
                </p>
                <div class="text-center">
                    <a href="{% url 'login' %}">Ir para tela principal</a>
                </div>
            </div>
        </form>        
    </div>
{% endblock %}