{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha Concluída | Farm Manager
{% endblock %}

{% block content %}
    <img src="{% static 'img/reset-password-done.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img p-5 img-fluid rounded" alt="reset-password-done">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-800">Redefinição de senha</h1>
                <hr>
                <p class="py-3 text-justify">
                    Um e-mail foi enviado com instruções para redefinir a senha,
                    se fornecido com o e-mail correto, a mensagem chegará em breve, se você não tiver
                    não recebeu nenhuma mensagem, certifique-se de fornecer o endereço de e-mail em que você está
                    registrado. Verifique sua pasta de spam.
                </p>
            </div>
            <hr>
            <div class="text-center">
                <a href="{% url 'login' %}">Ir para tela principal</a>
            </div>
        </div>
    </div>
{% endblock %}