{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha | Farm Manager
{% endblock %}

{% block content %}
    <img src="{% static 'img/reset-password.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img p-5 img-fluid rounded" alt="reset-password">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900">Redefinição de senha</h1>
                <hr>
                <p class="text-justify">Para continuar com a redefinição de senha, basta inserir o endereço de e-mail abaixo.</p>
            </div>
            <form class="user" method="POST">
                {% csrf_token %}
                {{form|bootstrap}}
                <button id="btn_reset_password" class="btn bt-primary btn-block">
                    Recuperar Senha
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'signup' %}">Criar uma conta!</a>
            </div>
            <div class="text-center">
                <a class="small" href="{% url 'login' %}">Já possui uma conta? Logar!</a>
            </div>
        </div>
    </div>                    
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $("#id_email").attr("required", false);
            $("#btn_reset_password").attr("disabled", true);
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email_registered' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        $("#btn_reset_password").attr("disabled", true);
                        generate_toast('error', 'Falha na autenticação!', 'O e-mail inserido não está registrado no sistema!');
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}