{% extends 'usuarios/base.html' %}

{% load static %}

{% block title %}
    Logout | Farm Manager
{% endblock %}

{% block content %}
    <div class="text-center">
        <h5>Para o próximo!</h5>
    </div>
    <div class="text-center">
        <p>Você optou por sair do painel, se preferir fazer o login novamente, basta clicar no botão abaixo para retornar à página de login.</p>
        <a id="btn_logout" href="{% url 'login' %}" class="btn bt-primary">
            <span class="text">LOGAR</span>
        </a>
    </div>
{% endblock %}