{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Registrar Usuário
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <form class="row d-flex justify-content-center" method="POST">
            <div class="text-center pt-3">
                <h1 class="h4 text-gray-800">Criar uma conta!</h1>
            </div>
            {% csrf_token %}
            <div class="col-12 col-sm-6">
                <hr>
                {{form|bootstrap}}

                <div class="form-check form-switch pt-2">
                    <input class="form-check-input" type="checkbox" id="check_register">
                    <label class="form-check-label" for="check_register">Mostrar Senha</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">
                        Registrar
                    </button>
                </div>

                <div class="text-center pt-3">
                    <a class="small" href="{% url 'reset_password' %}">Esqueceu a senha?</a><br />
                    <a class="small" href="/">Já está registrado no sistema? Login!</a>
                </div>
            </div>
        </form>        
    </div>
{% endblock %}

{% block script %}
    <!-- Import JQuery Mask -->
    <script src="{% static 'js/jquery/jquery.mask.js' %}"></script>

    <!-- Inicialização da Página -->
    <script>
        /* Inicialização do datepicker */
        $(document).ready(function(){
            $(".form-control").attr("required", false)

            $("#id_password").attr("type", "password");
            $("#id_confirm_password").attr("type", "password");

            // $("#btn_signup").attr("disabled", true);
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_register').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
                $("#id_confirm_password").attr("type", "text");
            }
            else {
                $("#id_password").attr("type", "password");
                $("#id_confirm_password").attr("type", "password");
            }
        })
    </script>

    <!-- Validar a Confirmação de Senha -->
    <script>
        $("#id_confirm_password").on('change', function () {
            var password = $("#id_password").val();
            var confirm_password = $("#id_confirm_password").val();
            var password_size = password.length;

            if (password != "" && confirm_password != "" && password === confirm_password){
                if(password_size < 4){
                    generate_toast('error', 'Falha no registro!', 'Quantidade mínima de caracteres: 4');
                }
                else if(password_size > 16){
                    generate_toast('error', 'Falha no registro!', 'Quantidade máxima de caracteres: 16');
                }
                // else{
                //     $("#btn_signup").attr("disabled", false);
                // }
            }
            else{
                generate_toast('error', 'Falha no registro!', 'Os campos senha e confirmação de senha não se identificam!');
                $('#id_password').val('');
                $('#id_confirm_password').val('');
                $('#id_password').focus();
            }
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
        var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(data.is_email){
                        generate_toast('error', 'Falha no registro!', 'O e-mail inserido já está registrado no sistema!');
                        $('#id_email').val("");
                        $('#id_email').focus();
                    }
                }
            });
        });
    </script>
{% endblock %}
