{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Registrar Usuário | Farm Manager
{% endblock %}

{% block content %}
    <img src="{% static 'img/sign-up.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img img-fluid rounded" alt="reset-password">
    <div class="col-12 col-lg-6 p-0">
        <div class="p-5">
            <div class="text-center pt-3">
                <h1 class="h4 text-gray-800">Criar uma conta!</h1>
                <hr>
            </div>
            <form class="row" method="POST">
                {% csrf_token %}
                <div class="col-12 col-sm-6">{{form.nome|bootstrap}}</div>
                <div class="col-12 col-sm-6">{{form.sobrenome|bootstrap}}</div>
                <div class="col-12">{{form.email|bootstrap}}</div>
                <div class="col-12">{{form.data_nascimento|bootstrap}}</div>
                <div class="col-12">{{form.celular|bootstrap}}</div>
                <div class="col-12 col-sm-6">{{form.password|bootstrap}}</div>
                <div class="col-12 col-sm-6">{{form.confirm_password|bootstrap}}</div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="check_register">
                            <label class="custom-control-label" for="check_register">Mostrar Senha</label>
                        </div>
                    </div>
                    <button id="btn_signup" class="btn bt-primary btn-block">
                        Registrar
                    </button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'reset_password' %}">Esqueceu a senha?</a>
            </div>
            <div class="text-center">
                <a class="small" href="/">Já está registrado no sistema? Login!</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Import JQuery Mask -->
    <script src="{% static 'js/jquery/jquery.mask.js' %}"></script>

    <!-- Inicialização da Página -->
    <script>
        /* Inicialização do datepicker */
        $(document).ready(function(){
            $('#id_data_nascimento').bootstrapMaterialDatePicker({
                time: false,
				clearButton: true,
				lang: "pt-br",
                cancelText: "Cancelar",
                okText: "Confirmar",
                clearText: "Limpar",
                maxDate : new Date() 
            });

            $("#id_celular").mask("(00) 0 0000-0000");

            $(".form-control").attr("required", false)

            $("#id_password").attr("type", "password");
            $("#id_confirm_password").attr("type", "password");

            // $("#btn_signup").attr("disabled", true);
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_register').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
                $("#id_confirm_password").attr("type", "text");
            }
            else {
                $("#id_password").attr("type", "password");
                $("#id_confirm_password").attr("type", "password");
            }
        })
    </script>

    <!-- Validar a Confirmação de Senha -->
    <script>
        $("#id_confirm_password").on('change', function () {
            var password = $("#id_password").val();
            var confirm_password = $("#id_confirm_password").val();
            var password_size = password.length;

            if (password != "" && confirm_password != "" && password === confirm_password){
                if(password_size < 4){
                    generate_toast('error', 'Falha no registro!', 'Quantidade mínima de caracteres: 4');
                }
                else if(password_size > 16){
                    generate_toast('error', 'Falha no registro!', 'Quantidade máxima de caracteres: 16');
                }
                // else{
                //     $("#btn_signup").attr("disabled", false);
                // }
            }
            else{
                generate_toast('error', 'Falha no registro!', 'Os campos senha e confirmação de senha não se identificam!');
                $('#id_password').val('');
                $('#id_confirm_password').val('');
                $('#id_password').focus();
            }
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
        var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(data.is_email){
                        generate_toast('error', 'Falha no registro!', 'O e-mail inserido já está registrado no sistema!');
                        $('#id_email').val("");
                        $('#id_email').focus();
                    }
                }
            });
        });
    </script>
{% endblock %}
