/* BODY */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* MAIN */
main {
    flex: 1 0 auto;
}

/* HEADER */
.nav-wrapper{
    background-color: #fb8c00;
}

/* FOOTER */
.page-footer{
    background-color: transparent;
}

.page-footer .row .col span{
    color: #fb8c00;
}

.btn-floating{
    background-color: #fb8c00;
}

.container .card{

    height: auto;

}

/* CARD's */
.container .card .format{
    padding-top: 0.001%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.1%;
}

.brand-logo{
    margin-left: 1%;
}

.title{
    color: #ff9800;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.data_publicacao{
    font-style: italic;
    font-family: sans-serif;
}