/* Seletor Bootstrap */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Buttons */

.btn__nav,
.btn__nav:hover{
    background-color: #212529;
    color: blueviolet;
    border: 1px solid blueviolet;
    cursor: pointer;
}

.btn__custom__primary,
.btn__custom__primary:hover{
    background-color: blueviolet;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn__nav:focus,
.btn__custom__primary:focus{
    background-color: rgb(126, 33, 212);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.opacity__hover:hover{
    opacity: .6 !important;
}

.help-block{
    color: red;
}

.text__custom__primary{
    color: blueviolet !important;
}
