{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block content %}
    <div class="container my-3">
        <h3 class="fs-3 fw-lighter text-center text-white">
            {{action}} Postagem
        </h3>
        <div class="d-flex justify-content-center">
            <div class="col-12 col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <a class="btn btn__custom__secondary hover mt-2" href="
                        {% if post %}
                            {% url 'detail_post' post.slug %}
                        {% else %}
                            /
                        {% endif %}
                    ">Voltar</a>
                    <button class="btn btn__custom__secondary hover mt-2">
                        {{action}}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .form-label{
            color: white
        }
        .form-control{
            background-color: transparent !important;
            color: var(--description-color)
        }
    </style>
{% endblock %}