{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="WebSite de Posts" />
<meta name="author" content="Lucas Eduardo de Oliveira Santos" />

<!-- <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}"> -->

<!-- Import Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!-- Import Material Icons Outlined CSS -->
<link rel="stylesheet" href="{% static 'css/material-icons/outlined/material-icons-outlined.min.css' %}">

<!-- Import HondON CSS -->
<link rel="stylesheet" href="{% static 'css/hold.on.min.css' %}">

<!-- Import Styles CSS -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<title>Django Posts</title>