{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    {{action}} Post
{% endblock %}

{% block breadcrumb %}
    
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-5 border border-2 p-4 bg-white rounded-3 shadow">
            <div class="text-center">
                <h1 class="h4 text-gray-800">{{action}} Post</h1>
            </div>
            <form method="POST" class="px-5">
                {% csrf_token %}
                {{form|bootstrap}}

                <div class="mt-2">
                    <a class="btn btn-secondary" href="/">Cancelar</a>
                    <button class="btn btn-primary">
                        {{action}}
                    </button>
                </div>
            </form>
        </div>
    </div>  
{% endblock %}