{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        {% include 'imports/meta.html' %}

        {% block css %}
        {% endblock %}
    </head>
    
    <body>
        <header></header>

        <main class="bg-body-primary">
            <div class="container">
                {% block content %}
                {% endblock %}

                {% include 'imports/toast.html' %}
            </div>
        </main>

        <footer></footer>

        <!-- import JQuery JS -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Import Bootstrap Bundle -->
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <!-- Import HoldON JS -->
        <script src="{% static 'js/hold.on.min.js' %}"></script>

        <!-- Import Function JS -->
        <script src="{% static 'js/function.js' %}"></script>

        {% include 'imports/messages.html' %}

        {% block script %}
        {% endblock %}
    </body>
</html>